.field {
  display: grid;
  grid-template-columns: 1fr 2fr 0.75fr;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  width: 100%;

  .players,
  .rows {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.5rem;
  }

  .rows {
    width: 100%;
    height: 100%;
    border-left: 1px solid currentColor;
    border-right: 1px solid currentColor;
    padding: 0 0.5rem;

    > div {
      outline: 1px solid currentColor;
      position: relative;
      display: flex;

      &.canBePlaced {
        outline: 3px solid lawngreen;
        outline-offset: -3px;
        cursor: pointer;
      }

      > p {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        color: currentColor;
        opacity: 0.25;
        z-index: -1;
      }
    }
  }

  .players {
    grid-template-rows: 1fr 1fr;
    color: white;
    background-color: white;
    gap: 0.125rem;

    .player {
      padding: 0.5rem;
      background-color: black;
      display: flex;
      flex-direction: row;

      &:not(:last-child) {
        // border between players
        border-bottom: 1px solid currentColor;
      }

      .playerLeader {
        aspect-ratio: 709/1346;
        position: relative;
        flex: 0;

        &.active > * {
          outline: 2.5px solid red;
          outline-offset: -5px;
        }
      }

      .playerInfo {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0.5rem;

        .actions,
        .playerLogin {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          justify-content: center;
          text-align: center;

          > * {
            flex: 1;
          }
        }

        .actions button:not(:disabled) {
          cursor: pointer;
        }

        .playerLogin {
          font-size: large;
          margin: 0;
        }

        .tokens {
          display: flex;
          flex-direction: row;
          flex: 0;
          gap: 5%;

          .token {
            position: relative;
            aspect-ratio: 1/1;
            flex: 1;
            max-width: 45%;
          }
        }
      }
    }
  }

  .rows {
    grid-template-rows: repeat(6, 1fr);
  }
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  min-height: 100%;
}

.cardsGrid,
.deckGrid {
  width: 100%;
}

.cardsGrid,
.deckGrid,
.field {
  .card {
    position: relative;
    aspect-ratio: 709/1346;

    &.selected {
      outline: 3px solid green;
      outline-offset: -3px;
    }

    &:hover {
      outline: 3px solid lawngreen;
      outline-offset: -3px;
    }

    img {
      z-index: -1;
    }
  }
}

.deckGrid {
  height: 0;
  min-height: 100%;
  overflow-y: scroll;

  > div:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: darkgreen;
  }

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
