.field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  width: 100%;

  .players,
  .rows {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.5rem;
  }

  .rows {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  .players {
    grid-template-rows: 1fr 1fr;

    .player {
      width: 100%;
      height: 100%;
      background-color: red;
      display: grid;
      grid-template-rows: 1fr auto;
      justify-items: center;

      .playerLeader {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 709/1346;
      }

      .playerInfo {
        background-color: green;
        display: flex;
        flex-direction: row;
        width: 100%;
      }
    }
  }

  .rows {
    grid-template-rows: repeat(6, 1fr);
  }
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;

  .card {
    position: relative;
    aspect-ratio: 709/1346;

    &.selected {
      outline: 3px solid green;
      outline-offset: -3px;
    }

    &:hover {
      outline: 3px solid lawngreen;
      outline-offset: -3px;
    }

    img {
      z-index: -1;
    }
  }
}

.btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: darkgreen;
  }

  &.disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
