.gameList {
  border-collapse: collapse;
  border: 1px solid currentColor;
  width: 100%;
  table-layout: fixed;

  th,
  td {
    border: 1px solid currentColor;
    padding: 0.5rem 1rem;
    text-align: center;

    > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  h2 {
    margin: 0;
  }
}

.title {
  text-align: center;
}
