.gameList {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: center;

    > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid currentColor;
  }

  thead tr,
  tr:not(:last-child) {
    border-bottom: 1px solid currentColor;
  }

  h2 {
    margin: 0;
  }
}

.title {
  text-align: center;
}
