.inviteList {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: center;

    a:hover {
      text-decoration: underline;
    }
  }

  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid currentColor;
  }

  thead tr,
  tr:not(:last-child) {
    border-bottom: 1px solid currentColor;
  }

  h2 {
    margin: 0;
  }
}

.title {
  text-align: center;
}

.inviteInput {
  width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;

  input,
  select {
    margin-left: 0.25rem;
  }
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
